<%- include('../partials/header') %> 

<div class="wrapper">
    <body id="imagewrappernewblog">
        <div class="container" id="blogformimage">
            <h1 class="text-center mt-2 mb-3 display-4 text-uppercase">Tell Your Story To The World</h1>
            <div class="row">
        
                <div class="col-lg-11 col-md-10 col-11 col-sm-11 border border-info rounded tipsnewblog mx-auto" >
                    <h1 class="mt-3"><strong>Author Of The Post</strong></h1>
                    <ul class="tipslist" style="list-style: square;">
                        <li class="text-justify">While posting your blog, your google account's display name is set as author of the post by default.</li>
                        <br>
                        <a href="/about" class="btn btn-dark btn-sm">READ MORE</a>
                    </ul>
                </div>
      
               <h3 class="mx-auto mt-5 display-3 text-uppercase text-center"><strong>Create Your Blog</strong> </h3>
                
                <div class="col-lg-11 col-md-10 col-11 col-sm-11 border border-secondary rounded mx-auto" id="newblogform">
                    <form action="/blogs/new" method="POST" enctype="multipart/form-data">
           
                        <div class=" mt-2 form-group">
                          <label class="mt-3 labelNEW" for="blogName">Blog Title <span class="asterisk">*</span></label>
                          <input type="text" class="form-control" name="name" placeholder="Enter the title of your blog post here" required>
                          <small  class="small form-text text-muted">Give a catchy <em>title</em> of your blog!</small>
                        </div>
        
                        <div class="form-group">
                            <label class="labelNEW" for="bloglocation">Location</label>
                            <input type="text" class="form-control" name="location" placeholder="Enter your location in the format (city,Country), e.g. Agartala,India">
                            <small class="small form-text text-muted">Share your location so that viewers can know about you or in case if you are sharing any incident here.</small>
                        </div>
                        <div class="form-group">
                            <label class="labelNEW" for="blogquote">Blog quote <span class="asterisk">*</span></label>
                            <input type="text" class="form-control" name="quote" placeholder="Enter a quote" required>
                            <small class="small form-text text-muted">Quotes improve the quality of your post</small>
                        </div>
        
                        <div class="form-group">
                            <label class="labelNEW" for="blogquoteauthor">Blog quote author <span class="asterisk">*</span></label>
                            <input type="text" class="form-control" name="quoteauthor" placeholder="Who said the above quote?" required>
                            <small class="small form-text text-muted">Mention who quoted your quote. Mention your name in case you said it &#128540;</small>
                        </div>
        
                        <div class="form-group">
                            <label class="labelNEW" for="blogfile">Blog Image  <span class="asterisk">*</span></label>
                            <input type="file" class="form-control" name="file" placeholder="Attach a image here!" required>
                            <small class="small form-text text-muted">Attach an image so that it makes your post more valuable.</small>
                        </div>
                        
                        <div class="form-group">
                            <label class="labelNEW" for="imageCap">Image Caption</label>
                            <input type="text" class="form-control" name="imageCap" placeholder="Enter Image Caption here">
                            <small class="small form-text text-muted">Add a image caption.</small>
                        </div>

                        <div class="form-group">
                            <label class="labelNEW" for="blogsubname1">Blog Header 1</label>
                            <input type="text" class="form-control" name="subname1" placeholder="Header 1">
                            <small class="small form-text text-muted">Sub headings make your post more informative.</small>
                        </div>
        
                        <div class="form-group">
                            <label class="labelNEW" for="blogDescription">Blog Description  <span class="asterisk">*</span></label>
                            <textarea type="text" class="form-control" name="description" rows="8" placeholder="Write about it!" required></textarea> 
                            <small  class="small form-text text-muted">Well try something <em>CRISP!</em></small>
                        </div>
        
                        <div class="form-group">
                            <label class="labelNEW" for="blogsubname2">Blog Header 2</label>
                            <input type="text" class="form-control" name="subname2" placeholder="Enter Header 2">
                            <small class="small form-text text-muted">Sub headings make your post more informative.</small>
                        </div>
        
                        <div class="form-group">
                            <label class="labelNEW" for="blogsubdescription">Blog Description</label>
                            <textarea type="text" class="form-control" name="subdescription" rows="6" placeholder="Write more about it!"></textarea>
                            <small class="small form-text text-muted">Well try something <em>CRISP!</em>.</small>
                        </div>
                    
                     <br>
                     <hr class="style-five">
                     <input type="checkbox" name="checkbox" id="checkbox"  required><strong> I have read and accept the</strong> <a href="#" class="blogtc" style="color:white;">terms and conditions</a><strong> of the site.</strong>
        
                        <button type="submit" class="mt-2 mb-3 btn btn-success btn-lg btn-block">POST MY BLOG</button>
                        <small class="text-uppercase text-center" style="background: white; display: inline-flex;"><strong>you can also edit your post later.</strong></small>
           
                      </form>

                      <a href="/blogs" class="btn btn-dark float-right mt-3 mb-3">Back</a>
                </div>
                
            </div>
            
        </div>
        
    </body>
</div>





<%- include('../partials/footer') %>     