<br>
<br>
<br>


<footer>
    
        <div class="row" style="width: 100%;">
            
                
                    <div class="col-lg-4 col-md-4 cl-sm-4 col-12" style="padding: 20px;">
                        <h1 class="display-4" style="padding: 7px;">covid tRACKER</h1>
                        <p class="text-justify" style="margin-left: 20px;"><strong>covid tRACKER</strong>  is a digital diary, where you can share your experience how the pandemic affected your life.
                            Also, you can check live updates about countries around the world, and if you are from India, you can get live 
                            updates about all states.
                        </p>
                       <div class="container">
                        <p>We are also available on</p>
                        <a href="#" style="color: white; font-size: 30px;"><i class="fab fa-facebook-square mr-3"></i></a>
                        <a href="#" style="color: white; font-size: 30px;"><i class="fab fa-instagram mr-3"></i></a>
                        <a href="#" style="color: white; font-size: 30px;"><i class="fab fa-twitter"></i></a>
                       </div>
                    </div>

                    <div class="col-lg-4 col-md-4 cl-sm-4 col-12" id="footerSectionLinks" style="padding: 20px;">
                        <h1 class="" style="padding: 9px;">Quick Links</h1>
                       <div class="container">
                        <a href="/about" class="quickLinks"><li>Help Center</li></a>
                        <a href="/about" class="quickLinks"><li>Terms & Conditions</li></a>
                        <a href="/about" class="quickLinks"><li>Policies</li></a>
                        <a href="/about" class="quickLinks"><li>Content Policy</li></a>
                       </div>
                    </div>

                    <div class="col-lg-4 col-md-4 cl-sm-4 col-12" id="footerSectionLinks" style="padding: 20px; ">
                        <h2 class="" style="padding: 20px; ">Contact Us</h2>
                        <div class="container" >
                            <a href="mailto:covidtracker0019@gmail.com" class="quickLinks" style="color: white; "><i class="far fa-envelope"></i> covidtracker0019@gmail.com</a>
                            <br> <br>
                           <p> <a href="https://github.com/hchaudhuri/covid-tRACKER.git" class="quickLinks mt-3" style="color: white;"><i class="fab fa-github"></i> Github</a></p>
                        </div>
                        
                    </div>
               
            
            
        </div>
    
    <hr>
    <footer >
        <p class="text-center"> <i class="far fa-copyright"></i> copyright: covid tRACKER | <i class="fas fa-code"></i> HC</p>
   
   </footer>
        
        

    
  </footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
</body>
</html>