<%- include('./partials/header') %>
<div class="wrapper">
    <body class="aboutBack">

        <div class="container">

            <div class="row">

                <div class="about col-lg-10 col-md-10 col-sm-9 col-10 mx-auto  mt-4">
                    
                    <h2 class="display-4 mt-3"><strong>covid tRACKER</strong></h2>

                     <hr class="style-five">
                <p><strong>covid tRACKER</strong> is a digital diary, where you can share your experience how the pandemic affected your life. 
                    Also, you can check live updates about countries around the world, and if you are from India, you can get live updates about all states.</p>
                </div>    

                <!-- help center -->
                <div class="about col-lg-10 col-md-10 col-sm-9 col-10 mx-auto  mt-5">
                    
                    <h2 class="display-4 mt-3">Help Center</h2>

                     <hr class="style-five">

                    <h2 class="mt-3"><i class="far fa-lightbulb"></i> Some Tips For Writing Your Blog</h2>
                    <ol class="tipslist">
                       
                        <li><u>To have different paragraphs, you can use the &lt;p&gt; &lt;/p&gt; tag.</u></li>
                        <p class="tipspara">Suppose, you have two lines say, "FRIENDS is the best series." and "Game of Thrones Season 8 didn't live upto the expectations.",
                            and you want them on two different lines. </p>
        
                            <p class="tipspara">You can do it as:</p>
        
                         <p class="tipspara">&lt;p&gt;FRIENDS is the best series.&lt;/p&gt; &lt;p&gt;Game of Thrones Season 8 didn't live upto the expectations.&lt;/p&gt;
                            
                        </p>
        
                        <li><u>To bold a text, you can wrap &lt;strong&gt; &lt;/strong&gt; around that particular text.</u> </li>
                        <p class="tipspara">For example, if you want to bold a certain text, say the word "blog". Then, wrap the word blog with the above tag,as,
                            &lt;strong&gt;blog&lt;/strong&gt;.
                        </p>
        
                        <li><u>To italacize a text, you can wrap &lt;em&gt; &lt;/em&gt; around that particular text.</u></li>
                        <p class="tipspara">For example, if you want the italacize the word "Iron Man", you can do its as:
                            &lt;em&gt;Iron Man&lt;/em&gt;
                        </p>

                        <li><u>To underline a text or a line, you can use the &lt;u&gt; &lt;/u&gt; tag.</u></li>
                        <p class="tipspara">For example, if you want to underline the text, "Prison Break", you can do it as:
                            &lt;u&gt;Prison Break&lt;/u&gt;
                        </p>

                        <li class="mt-3"><u>While posting your blog, your google account's display name is set as author of the post by default.</u></li>

                        <li class="mt-3"><u>Attach images and quotes with your blog, to attract more viewers.</u></li>

                        <li  class="mt-3"><u>After posting your blog, you can further edit your post later also if you want to delete your post your later, you can do so.</u></li>

                        <li class="mt-3"><u>To post your own blog and writting comments on your post, you need to be signed in with your google account.</u></li>

                        <li class="mt-3"><u>Without signing in you can read other people's posts.</u></li>

                        <li class="mt-3"><u>While posting your blog, your google account's display name is set as author of the post by default.</u></li>
                    </ol>

                </div>

                
                <!-- t&c -->
                <div class="about col-lg-10 col-md-10 col-sm-9 col-10 mx-auto  mt-5">

                    <h2 class="display-4 mt-3">Terms and Conditions</h2>

                     <hr class="style-five">

                    <ol>

                        <li class="mt-3"><strong>covid tRACKER</strong> is not liable for any discrepency in the live updates data.</li>
                        <li class="mt-3">All live update data are fetched using Postman APIs.</li>
                        <li class="mt-3">I have read and accept that I am not posting any abusive or hate speech content.</li>
                    </ol>

                </div>

                <!-- Policies -->
                <div class="about col-lg-10 col-md-10 col-sm-9 col-10 mx-auto  mt-5">

                    <h2 class="display-4 mt-3">Policies</h2>

                     <hr class="style-five">

                    <ol>
                        <li>All your posts/blogs/comments are safe with us.</li>
                        <li>We do not share your personal information or any information provided to this website when you sign in or so with any other third-party.</li>
                    </ol>

                </div>

                <!-- content policy -->
                <div class="about col-lg-10 col-md-10 col-sm-9 col-10 mx-auto  mt-5">

                    <h2 class="display-4 mt-3">Content Policy</h2>

                     <hr class="style-five">

                    <ol>
                        <li>Hate Speech content is strictly proibited.</li>
                        <li>Abusive,Bullying is not allowed on <strong>covid tRACKER.</strong></li>
                        <li>If <strong>covid tRACKER</strong> finds any content that is harmful to the society or any particular group or people, 
                        we will be forced to take down your post/blog/comment.</li>
                        <li>If your content is taken down, you will receive a prior alarm on this website or on your e-mail account.</li>
                        <li>In such cases, your account will be reported.</li>
                    </ol>

                </div>





            </div>





        </div>
        











































    </body>
</div>

<%- include('./partials/footer') %> 