<%- include('./partials/header2') %> 
    
      <div id="landing-header">
          <h1 id="header">Welcome to covid tRACKER</h1>
        
          
          <h2 class="landing"><em>- A  Digital  Diary</em></h2>
         
          <a href="/blogs" id="startingbutton" class="ui inverted teal button">GET STARTED</a>
          

      </div>
      
     
     
      
        
      
        
     

       <ul class="slideshow">
           <li></li>
           <li></li>
           <li></li>
       </ul>
<%- include('./partials/footer2') %>        
     

    